@model BooksDTO

<h1>Add new Book</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>

            <div class="form-group from-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" />@Html.DisplayNameFor(Model => Model.IsAvailable)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn-primary"
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="BookIndex">Back to List</a>
</div>